<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<% include templates/header.ejs %>
<h3>About</h3>
<p>Hi my name is Bucky, I thought cheese from pizza was a vein and I was cared.</p>
</ul>
</body>
</html>
